*{
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;

}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.input {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 45px;
  padding: 10px;
}

.btn_danger {
  min-width: 50px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
  margin: auto 10px;
  outline: none;
  border: none;
}

.form_group {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42rem;
  background-color: #cccccc;
  border: 1px solid black;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

.list_item {
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
  ul{
    list-style-type: none;
    padding-left: 0;
  }
}

.mx_auto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo__style{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 10px;
  &_btn{
    display: flex;
    & .btn_info{
      background-color: blueviolet;
      color: white;
      border: none;
      outline: none;
      border-radius: 5px;
      min-width: 50px;
      height: 30px;
      margin: 0 5px;
      cursor: pointer;


    }
    & .btn_black{
      background-color: black;
      color: white;
      border: none;
      outline: none;
      border-radius: 5px;
      min-width: 50px;
      height: 30px;
      margin: 0 5px;
      cursor: pointer;

    }
  }
}

.underText{
  text-decoration: line-through;
  color: #7a7a7a;
}
.nav{
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px;
}
.select {
  width: 300px;
  margin:20px auto;
}